<virtual_joint name="world_joint" type="fixed" parent_frame="world" child_link="base_link"/>


<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur"/>

  <xacro:include filename="$(find ur_moveit_config)/srdf/ur_macro.srdf.xacro"/>

  <xacro:ur_srdf/>

</robot>
